<h1>Listing movie_ratings</h1>

<table>
  <tr>
    <th>Rating</th>
    <th>Ratingdate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_votes.each do |movie_rating| %>
  <tr>
    <td><%= movie_rating.Rating %></td>
    <td><%= movie_rating.RatingDate %></td>
    <td><%= link_to 'Show', movie_rating %></td>
    <td><%= link_to 'Edit', edit_movie_rating_path(movie_rating) %></td>
    <td><%= link_to 'Destroy', movie_rating, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie rating', new_movie_rating_path %>
