<h1>Listing movie_list_items</h1>

<table>
  <tr>
    <th>Movie</th>
    <th>Movie list</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movie_list_items.each do |movie_list_item| %>
  <tr>
    <td><%= movie_list_item.movie_id %></td>
    <td><%= movie_list_item.movie_list_id %></td>
    <td><%= link_to 'Show', movie_list_item %></td>
    <td><%= link_to 'Edit', edit_movie_list_item_path(movie_list_item) %></td>
    <td><%= link_to 'Destroy', movie_list_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie list item', new_movie_list_item_path %>
