<%= form_for(@user_twin) do |f| %>
  <% if @user_twin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_twin.errors.count, "error") %> prohibited this user_twin from being saved:</h2>

      <ul>
      <% @user_twin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :twin_id %><br />
    <%= f.text_field :twin_id %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :percent %><br />
    <%= f.text_field :percent %>
  </div>
  <div class="field">
    <%= f.label :movies_matched %><br />
    <%= f.text_field :movies_matched %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
